[Unit]
Description=MicroShift
Documentation=man:microshift(1)
Wants=crio.service
After=crio.service
After=network-online.target
Wants=network-online.target
AssertPathExists=/usr/bin/microshift

[Service]
Type=exec
KillMode=mixed
ExecStart=/usr/bin/microshift run
Restart=always
RestartSec=10s
TimeoutStartSec=0
LimitNOFILE=65536
TasksMax=infinity

# Resource management
MemoryHigh=2G
MemoryMax=3G

[Install]
WantedBy=multi-user.target 