[Unit]
Description=MicroShift Cleanup Service
Documentation=https://microshift.io/

[Service]
Type=oneshot
RemainAfterExit=no
ExecStart=/bin/bash -c "\
echo 'Performing MicroShift cleanup...'; \
crictl stopp --timeout 10 \$(crictl pods -q) || true; \
crictl rmp \$(crictl pods -q) || true; \
crictl rmi --prune || true; \
echo 'MicroShift cleanup completed'"
TimeoutStartSec=60 